body{direction: rtl;}
font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto Slab', serif;{
h1 {font-weight:100;font-size:44px;}
h2 {font-weight:300;font-size:32px;}
h3 {font-weight:700;font-size:18px;}
font-family: 'Roboto Slab';font-size: 22px;{
    <h1>Roboto Slab</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    <p>123456790</p>
    <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
    <p>abcdefghijklmnopqrstuvwxyz</p>
}
}