<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width"><title>http://localhost/test1/public/vendor/fontawesome-free/css/all.min.css</title><link rel="stylesheet" type="text/css" href="resource://content-accessible/viewsource.css"></head><body id="viewsource" class="highlight" style="-moz-tab-size: 4" contextmenu="actions"><pre id="line1"><span></span><span class="doctype">&lt;!DOCTYPE html&gt;</span><span>
<span id="line2"></span></span><span>&lt;<span class="start-tag">html</span>&gt;</span><span>
<span id="line3"></span>    </span><span>&lt;<span class="start-tag">head</span>&gt;</span><span>
<span id="line4"></span>        </span><span>&lt;<span class="start-tag">meta</span> <span class="attribute-name">charset</span>="<a class="attribute-value">UTF-8</a>" <span>/</span>&gt;</span><span>
<span id="line5"></span>        </span><span>&lt;<span class="start-tag">meta</span> <span class="attribute-name">name</span>="<a class="attribute-value">robots</a>" <span class="attribute-name">content</span>="<a class="attribute-value">noindex,nofollow</a>" <span>/</span>&gt;</span><span>
<span id="line6"></span>        </span><span>&lt;<span class="start-tag">style</span>&gt;</span><span>            body { background-color: #F9F9F9; color: #222; font: 14px/1.4 Helvetica, Arial, sans-serif; margin: 0; padding-bottom: 45px; }
<span id="line7"></span>
<span id="line8"></span>            a { cursor: pointer; text-decoration: none; }
<span id="line9"></span>            a:hover { text-decoration: underline; }
<span id="line10"></span>            abbr[title] { border-bottom: none; cursor: help; text-decoration: none; }
<span id="line11"></span>
<span id="line12"></span>            code, pre { font: 13px/1.5 Consolas, Monaco, Menlo, "Ubuntu Mono", "Liberation Mono", monospace; }
<span id="line13"></span>
<span id="line14"></span>            table, tr, th, td { background: #FFF; border-collapse: collapse; vertical-align: top; }
<span id="line15"></span>            table { background: #FFF; border: 1px solid #E0E0E0; box-shadow: 0px 0px 1px rgba(128, 128, 128, .2); margin: 1em 0; width: 100%; }
<span id="line16"></span>            table th, table td { border: solid #E0E0E0; border-width: 1px 0; padding: 8px 10px; }
<span id="line17"></span>            table th { background-color: #E0E0E0; font-weight: bold; text-align: left; }
<span id="line18"></span>
<span id="line19"></span>            .hidden-xs-down { display: none; }
<span id="line20"></span>            .block { display: block; }
<span id="line21"></span>            .break-long-words { -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
<span id="line22"></span>            .text-muted { color: #999; }
<span id="line23"></span>
<span id="line24"></span>            .container { max-width: 1024px; margin: 0 auto; padding: 0 15px; }
<span id="line25"></span>            .container::after { content: ""; display: table; clear: both; }
<span id="line26"></span>
<span id="line27"></span>            .exception-summary { background: #B0413E; border-bottom: 2px solid rgba(0, 0, 0, 0.1); border-top: 1px solid rgba(0, 0, 0, .3); flex: 0 0 auto; margin-bottom: 30px; }
<span id="line28"></span>
<span id="line29"></span>            .exception-message-wrapper { display: flex; align-items: center; min-height: 70px; }
<span id="line30"></span>            .exception-message { flex-grow: 1; padding: 30px 0; }
<span id="line31"></span>            .exception-message, .exception-message a { color: #FFF; font-size: 21px; font-weight: 400; margin: 0; }
<span id="line32"></span>            .exception-message.long { font-size: 18px; }
<span id="line33"></span>            .exception-message a { border-bottom: 1px solid rgba(255, 255, 255, 0.5); font-size: inherit; text-decoration: none; }
<span id="line34"></span>            .exception-message a:hover { border-bottom-color: #ffffff; }
<span id="line35"></span>
<span id="line36"></span>            .exception-illustration { flex-basis: 111px; flex-shrink: 0; height: 66px; margin-left: 15px; opacity: .7; }
<span id="line37"></span>
<span id="line38"></span>            .trace + .trace { margin-top: 30px; }
<span id="line39"></span>            .trace-head .trace-class { color: #222; font-size: 18px; font-weight: bold; line-height: 1.3; margin: 0; position: relative; }
<span id="line40"></span>
<span id="line41"></span>            .trace-message { font-size: 14px; font-weight: normal; margin: .5em 0 0; }
<span id="line42"></span>
<span id="line43"></span>            .trace-file-path, .trace-file-path a { color: #222; margin-top: 3px; font-size: 13px; }
<span id="line44"></span>            .trace-class { color: #B0413E; }
<span id="line45"></span>            .trace-type { padding: 0 2px; }
<span id="line46"></span>            .trace-method { color: #B0413E; font-weight: bold; }
<span id="line47"></span>            .trace-arguments { color: #777; font-weight: normal; padding-left: 2px; }
<span id="line48"></span>
<span id="line49"></span>            @media (min-width: 575px) {
<span id="line50"></span>                .hidden-xs-down { display: initial; }
<span id="line51"></span>            }</span><span>&lt;/<span class="end-tag">style</span>&gt;</span><span>
<span id="line52"></span>    </span><span>&lt;/<span class="end-tag">head</span>&gt;</span><span>
<span id="line53"></span>    </span><span>&lt;<span class="start-tag">body</span>&gt;</span><span>
<span id="line54"></span>                    </span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">exception-summary</a>"&gt;</span><span>
<span id="line55"></span>                </span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">container</a>"&gt;</span><span>
<span id="line56"></span>                    </span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">exception-message-wrapper</a>"&gt;</span><span>
<span id="line57"></span>                        </span><span>&lt;<span class="start-tag">h1</span> <span class="attribute-name">class</span>="<a class="attribute-value">break-long-words exception-message</a>"&gt;</span><span>Sorry, the page you are looking for could not be found.</span><span>&lt;/<span class="end-tag">h1</span>&gt;</span><span>
<span id="line58"></span>                        </span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">exception-illustration hidden-xs-down</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">svg</span> <span class="attribute-name">viewBox</span>="<a class="attribute-value">0 0 136 81</a>" <span class="attribute-name">xmlns</span>="<a class="attribute-value">http://www.w3.org/2000/svg</a>" <span class="attribute-name">fill-rule</span>="<a class="attribute-value">evenodd</a>" <span class="attribute-name">clip-rule</span>="<a class="attribute-value">evenodd</a>" <span class="attribute-name">stroke-linejoin</span>="<a class="attribute-value">round</a>" <span class="attribute-name">stroke-miterlimit</span>="<a class="attribute-value">1.4</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">path</span> <span class="attribute-name">d</span>="<a class="attribute-value">M92.4 20.4a23.2 23.2 0 0 1 9 1.9 23.7 23.7 0 0 1 5.2 3 24.3 24.3 0 0 1 3.4 3.4 24.8 24.8 0 0 1 5 9.4c.5 1.7.8 3.4 1 5.2v14.5h.4l.5.2a7.4 7.4 0 0 0 2.5.2l.2-.2.6-.8.8-1.3-.2-.1a5.5 5.5 0 0 1-.8-.3 5.6 5.6 0 0 1-2.3-1.8 5.7 5.7 0 0 1-.9-1.6 6.5 6.5 0 0 1-.2-2.8 7.3 7.3 0 0 1 .5-2l.3-.3.8-.9.3-.3c.2-.2.5-.3.8-.3H120.7c.2 0 .3-.1.4 0h.4l.2.1.3.2.2-.4.3-.4.1-.1 1.2-1 .3-.2.4-.1.4-.1h.3l1.5.1.4.1.8.5.1.2 1 1.1v.2H129.4l.4-.2 1.4-.5h1.1c.3 0 .7.2 1 .4.2 0 .3.2.5.3l.2.2.5.3.4.6.1.3.4 1.4.1.4v.6a7.8 7.8 0 0 1-.1.6 9.9 9.9 0 0 1-.8 2.4 7.8 7.8 0 0 1-3 3.3 6.4 6.4 0 0 1-1 .5 6.1 6.1 0 0 1-.6.2l-.7.1h-.1a23.4 23.4 0 0 1-.2 1.7 14.3 14.3 0 0 1-.6 2.1l-.8 2a9.2 9.2 0 0 1-.4.6l-.7 1a9.1 9.1 0 0 1-2.3 2.2c-.9.5-2 .6-3 .7l-1.4.1h-.5l-.4.1a15.8 15.8 0 0 1-2.8-.1v4.2a9.7 9.7 0 0 1-.7 3.5 9.6 9.6 0 0 1-1.7 2.8 9.3 9.3 0 0 1-3 2.3 9 9 0 0 1-5.4.7 9 9 0 0 1-3-1 9.4 9.4 0 0 1-2.7-2.5 10 10 0 0 1-1 1.2 9.3 9.3 0 0 1-2 1.3 9 9 0 0 1-2.4 1 9 9 0 0 1-6.5-1.1A9.4 9.4 0 0 1 85 77V77a10.9 10.9 0 0 1-.6.6 9.3 9.3 0 0 1-2.7 2 9 9 0 0 1-6 .8 9 9 0 0 1-2.4-1 9.3 9.3 0 0 1-2.3-1.7 9.6 9.6 0 0 1-1.8-2.8 9.7 9.7 0 0 1-.8-3.7v-4a18.5 18.5 0 0 1-2.9.2l-1.2-.1c-1.9-.3-3.7-1-5.1-2.1A8.2 8.2 0 0 1 58 64a10.2 10.2 0 0 1-.9-1.2 15.3 15.3 0 0 1-.7-1.3 20.8 20.8 0 0 1-1.9-6.2v-.2a6.5 6.5 0 0 1-1-.3 6.1 6.1 0 0 1-.6-.3 6.6 6.6 0 0 1-.9-.5 8.2 8.2 0 0 1-2.7-3.8 10 10 0 0 1-.3-1 10.3 10.3 0 0 1-.3-1.9V47v-.4l.1-.4.6-1.4.1-.2a2 2 0 0 1 .8-.8l.3-.2.3-.2a3.2 3.2 0 0 1 1.8-.5h.4l.3.2 1.4.6.2.2.4.3.3.4.7-.7.2-.2.4-.2.6-.2h2.1l.4.2.4.2.3.2.8 1 .2-.1h.1v-.1H63l1.1.1h.3l.8.5.3.4.7 1 .2.3.1.5a11 11 0 0 1 .2 1.5c0 .8 0 1.6-.3 2.3a6 6 0 0 1-.5 1.2 5.5 5.5 0 0 1-3.3 2.5 12.3 12.3 0 0 0 1.4 3h.1l.2.1 1 .2h1.5l.5-.2H67.8l.5-.2h.1V44v-.4a26.7 26.7 0 0 1 .3-2.3 24.7 24.7 0 0 1 5.7-12.5 24.2 24.2 0 0 1 3.5-3.3 23.7 23.7 0 0 1 4.9-3 23.2 23.2 0 0 1 5.6-1.7 23.7 23.7 0 0 1 4-.3zm-.3 2a21.2 21.2 0 0 0-8 1.7 21.6 21.6 0 0 0-4.8 2.7 22.2 22.2 0 0 0-3.2 3 22.7 22.7 0 0 0-5 9.2 23.4 23.4 0 0 0-.7 4.9v15.7l-.5.1a34.3 34.3 0 0 1-1.5.3h-.2l-.4.1h-.4l-.9.2a10 10 0 0 1-1.9 0c-.5 0-1-.2-1.5-.4a1.8 1.8 0 0 1-.3-.2 2 2 0 0 1-.3-.3 5.2 5.2 0 0 1-.1-.2 9 9 0 0 1-.6-.9 13.8 13.8 0 0 1-1-2 14.3 14.3 0 0 1-.6-2 14 14 0 0 1-.1-.8v-.2h.3a12.8 12.8 0 0 0 1.4-.2 4.4 4.4 0 0 0 .3 0 3.6 3.6 0 0 0 1.1-.7 3.4 3.4 0 0 0 1.2-1.7l.2-1.2a5.1 5.1 0 0 0 0-.8 7.2 7.2 0 0 0-.1-.8l-.7-1-1.2-.2-1 .7-.1 1.3a5 5 0 0 1 .1.4v.6a1 1 0 0 1 0 .3c-.1.3-.4.4-.7.5l-1.2.4v-.7A9.9 9.9 0 0 1 60 49l.3-.6v-.2l.1-.1v-1.6l-1-1.2h-1.5l-1 1.1v.4a5.3 5.3 0 0 0-.2.6 5.5 5.5 0 0 0 0 .5c0 .7 0 1.4.3 2 0 .4.2.8.4 1.2L57 51a9.5 9.5 0 0 1-1.1-.5h-.2a2 2 0 0 1-.4-.3c-.4-.4-.5-1-.6-1.6a5.6 5.6 0 0 1 0-.5v-.5-.5l-.6-1.5-1.4-.6-.9.3s-.2 0-.3.2a2 2 0 0 1-.1 0l-.6 1.4v.7a8.5 8.5 0 0 0 .5 2c.4 1.1 1 2.1 2 2.8a4.7 4.7 0 0 0 2.1.9h1a22.8 22.8 0 0 0 .1 1 18.1 18.1 0 0 0 .8 3.8 18.2 18.2 0 0 0 1.6 3.7l1 1.3c1 1 2.3 1.6 3.7 2a11.7 11.7 0 0 0 4.8 0h.4l.5-.2.5-.1.6-.2v6.6a8 8 0 0 0 .1 1.3 7.5 7.5 0 0 0 2.4 4.3 7.2 7.2 0 0 0 2.3 1.3 7 7 0 0 0 7-1.1 7.5 7.5 0 0 0 2-2.6A7.7 7.7 0 0 0 85 72V71a8.2 8.2 0 0 0 .2 1.3c0 .7.3 1.4.6 2a7.5 7.5 0 0 0 1.7 2.3 7.3 7.3 0 0 0 2.2 1.4 7.1 7.1 0 0 0 4.6.2 7.2 7.2 0 0 0 2.4-1.2 7.5 7.5 0 0 0 2.1-2.7 7.8 7.8 0 0 0 .7-2.4V71a9.3 9.3 0 0 0 .1.6 7.6 7.6 0 0 0 .6 2.5 7.5 7.5 0 0 0 2.4 3 7.1 7.1 0 0 0 7 .8 7.3 7.3 0 0 0 2.3-1.5 7.5 7.5 0 0 0 1.6-2.3 7.6 7.6 0 0 0 .5-2l.1-1.1v-6.7l.4.1a12.2 12.2 0 0 0 2 .5 11.1 11.1 0 0 0 2.5 0h.8l1.2-.1a9.5 9.5 0 0 0 1.4-.2l.9-.3a3.5 3.5 0 0 0 .6-.4l1.2-1.4a12.2 12.2 0 0 0 .8-1.2c0-.3.2-.5.3-.7a15.9 15.9 0 0 0 .7-2l.3-1.6v-1.3l.2-.9V54.6a15.5 15.5 0 0 0 1.8 0 4.5 4.5 0 0 0 1.4-.5 5.7 5.7 0 0 0 2.5-3.2 7.6 7.6 0 0 0 .4-1.5v-.3l-.4-1.4a5.2 5.2 0 0 1-.2-.1l-.4-.4a3.8 3.8 0 0 0-.2 0 1.4 1.4 0 0 0-.5-.2l-1.4.4-.7 1.3v.7a5.7 5.7 0 0 1-.1.8l-.7 1.4a1.9 1.9 0 0 1-.5.3h-.3a9.6 9.6 0 0 1-.8.3 8.8 8.8 0 0 1-.6 0l.2-.4.2-.5.2-.3v-.4l.1-.2V50l.1-1 .1-.6v-.6a4.8 4.8 0 0 0 0-.8v-.2l-1-1.1-1.5-.2-1.1 1-.2 1.4v.1l.2.4.2.3v.4l.1 1.1v.3l.1.5v.8a9.6 9.6 0 0 1-.8-.3l-.2-.1h-.3l-.8-.1h-.2a1.6 1.6 0 0 1-.2-.2.9.9 0 0 1-.2-.2 1 1 0 0 1-.1-.5l.2-.9v-1.2l-.9-.8h-1.2l-.8.9v.3a4.8 4.8 0 0 0-.3 2l.3.9a3.5 3.5 0 0 0 1.2 1.6l1 .5.8.2 1.4.1h.4l.2.1a12.1 12.1 0 0 1-1 2.6 13.2 13.2 0 0 1-.8 1.5 9.5 9.5 0 0 1-1 1.2l-.2.3a1.7 1.7 0 0 1-.4.3 2.4 2.4 0 0 1-.7.2h-2.5a7.8 7.8 0 0 1-.6-.2l-.7-.2h-.2a14.8 14.8 0 0 1-.6-.2 23.4 23.4 0 0 1-.4-.1l-.4-.1-.3-.1V43.9a34.6 34.6 0 0 0 0-.6 23.6 23.6 0 0 0-.4-3 22.7 22.7 0 0 0-1.5-4.7 22.6 22.6 0 0 0-4.6-6.7 21.9 21.9 0 0 0-6.9-4.7 21.2 21.2 0 0 0-8.1-1.8H92zm9.1 33.7l.3.1a1 1 0 0 1 .6.8v.4a8.4 8.4 0 0 1 0 .5 8.8 8.8 0 0 1-1.6 4.2l-1 1.3A10 10 0 0 1 95 66c-1.3.3-2.7.4-4 .3a10.4 10.4 0 0 1-2.7-.8 10 10 0 0 1-3.6-2.5 9.3 9.3 0 0 1-.8-1 9 9 0 0 1-.7-1.2 8.6 8.6 0 0 1-.8-3.4V57a1 1 0 0 1 .3-.6 1 1 0 0 1 1.3-.2 1 1 0 0 1 .4.8v.4a6.5 6.5 0 0 0 .5 2.2 7 7 0 0 0 2.1 2.8l1 .6c2.6 1.6 6 1.6 8.5 0a8 8 0 0 0 1.1-.6 7.6 7.6 0 0 0 1.2-1.2 7 7 0 0 0 1-1.7 6.5 6.5 0 0 0 .4-2.5 1 1 0 0 1 .7-1h.4zM30.7 43.7c-15.5 1-28.5-6-30.1-16.4C-1.2 15.7 11.6 4 29 1.3 46.6-1.7 62.3 5.5 64 17.1c1.6 10.4-8.7 21-23.7 25a31.2 31.2 0 0 0 0 .9v.3a19 19 0 0 0 .1 1l.1.4.1.9a4.7 4.7 0 0 0 .5 1l.7 1a9.2 9.2 0 0 0 1.2 1l1.5.8.6.8-.7.6-1.1.3a11.2 11.2 0 0 1-2.6.4 8.6 8.6 0 0 1-3-.5 8.5 8.5 0 0 1-1-.4 11.2 11.2 0 0 1-1.8-1.2 13.3 13.3 0 0 1-1-1 18 18 0 0 1-.7-.6l-.4-.4a23.4 23.4 0 0 1-1.3-1.8l-.1-.1-.3-.5V45l-.3-.6v-.7zM83.1 36c3.6 0 6.5 3.2 6.5 7.1 0 4-3 7.2-6.5 7.2S76.7 47 76.7 43 79.6 36 83 36zm18 0c3.6 0 6.5 3.2 6.5 7.1 0 4-2.9 7.2-6.4 7.2S94.7 47 94.7 43s3-7.1 6.5-7.1zm-18 6.1c2 0 3.5 1.6 3.5 3.6S85 49.2 83 49.2s-3.4-1.6-3.4-3.6S81.2 42 83 42zm17.9 0c1.9 0 3.4 1.6 3.4 3.6s-1.5 3.6-3.4 3.6c-2 0-3.5-1.6-3.5-3.6S99.1 42 101 42zM17 28c-.3 1.6-1.8 5-5.2 5.8-2.5.6-4.1-.8-4.5-2.6-.4-1.9.7-3.5 2.1-4.5A3.5 3.5 0 0 1 8 24.6c-.4-2 .8-3.7 3.2-4.2 1.9-.5 3.1.2 3.4 1.5.3 1.1-.5 2.2-1.8 2.5-.9.3-1.6 0-1.7-.6a1.4 1.4 0 0 1 0-.7s.3.2 1 0c.7-.1 1-.7.9-1.2-.2-.6-1-.8-1.8-.6-1 .2-2 1-1.7 2.6.3 1 .9 1.6 1.5 1.8l.7-.2c1-.2 1.5 0 1.6.5 0 .4-.2 1-1.2 1.2a3.3 3.3 0 0 1-1.5 0c-.9.7-1.6 1.9-1.3 3.2.3 1.3 1.3 2.2 3 1.8 2.5-.7 3.8-3.7 4.2-5-.3-.5-.6-1-.7-1.6-.1-.5.1-1 .9-1.2.4 0 .7.2.8.8a2.8 2.8 0 0 1 0 1l.7 1c.6-2 1.4-4 1.7-4 .6-.2 1.5.6 1.5.6-.8.7-1.7 2.4-2.3 4.2.8.6 1.6 1 2.1 1 .5-.1.8-.6 1-1.2-.3-2.2 1-4.3 2.3-4.6.7-.2 1.3.2 1.4.8.1.5 0 1.3-.9 1.7-.2-1-.6-1.3-1-1.3-.4.1-.7 1.4-.4 2.8.2 1 .7 1.5 1.3 1.4.8-.2 1.3-1.2 1.7-2.1-.3-2.1.9-4.2 2.2-4.5.7-.2 1.2.1 1.4 1 .4 1.4-1 2.8-2.2 3.4.3.7.7 1 1.3.9 1-.3 1.6-1.5 2-2.5l-.5-3v-.3s1.6-.3 1.8.6v.1c.2-.6.7-1.2 1.3-1.4.8-.1 1.5.6 1.7 1.6.5 2.2-.5 4.4-1.8 4.7H33a31.9 31.9 0 0 0 1 5.2c-.4.1-1.8.4-2-.4l-.5-5.6c-.5 1-1.3 2.2-2.5 2.4-1 .3-1.6-.3-2-1.1-.5 1-1.3 2.1-2.4 2.4-.8.2-1.5-.1-2-1-.3.8-.9 1.5-1.5 1.7-.7.1-1.5-.3-2.4-1-.3.8-.4 1.6-.4 2.2 0 0-.7 0-.8-.4-.1-.5 0-1.5.3-2.7a10.3 10.3 0 0 1-.7-.8zm38.2-17.8l.2.9c.5 1.9.4 4.4.8 6.4 0 .6-.4 3-1.4 3.3-.2 0-.3 0-.4-.4-.1-.7 0-1.6-.3-2.6-.2-1.1-.8-1.6-1.5-1.5-.8.2-1.3 1-1.6 2l-.1-.5c-.2-1-1.8-.6-1.8-.6a6.2 6.2 0 0 1 .4 1.3l.2 1c-.2.5-.6 1-1.2 1l-.2.1a7 7 0 0 0-.1-.8c-.3-1.1-1-2-1.6-1.8a.7.7 0 0 0-.4.3c-1.3.3-2.4 2-2.1 3.9-.2.9-.6 1.7-1 1.9-.5 0-.8-.5-1.1-1.8l-.1-1.2a4 4 0 0 0 0-1.7c0-.4-.4-.7-.8-.6-.7.2-.9 1.7-.5 3.8-.2 1-.6 2-1.3 2-.4.2-.8-.2-1-1l-.2-3c1.2-.5 2-1 1.8-1.7-.1-.5-.8-.7-.8-.7s0 .7-1 1.2l-.2-1.4c-.1-.6-.4-1-1.7-.6l.4 1 .2 1.5h-1v.8c0 .3.4.3 1 .2 0 1.3 0 2.7.2 3.6.3 1.4 1.2 2 2 1.7 1-.2 1.6-1.3 2-2.3.3 1.2 1 2 1.9 1.7.7-.2 1.2-1.1 1.6-2.2.4.8 1.1 1.1 2 1 1.2-.4 1.7-1.6 1.8-2.8h.2c.6-.2 1-.6 1.3-1 0 .8 0 1.5.2 2.1.1.5.3.7.6.6.5-.1 1-.9 1-.9a4 4 0 0 1-.3-1c-.3-1.3.3-3.6 1-3.7.2 0 .3.2.5.7v.8l.2 1.5v.7c.2.7.7 1.3 1.5 1 1.3-.2 2-2.6 2.1-3.9.3.2.6.2 1 .1-.6-2.2 0-6.1-.3-7.9-.1-.4-1-.5-1.7-.5h-.4zm-21.5 12c.4 0 .7.3 1 1.1.2 1.3-.3 2.6-.9 2.8-.2 0-.7 0-1-1.2v-.4c0-1.3.4-2 1-2.2zm-5.2 1c.3 0 .6.2.6.5.2.6-.3 1.3-1.2 2-.3-1.4.1-2.3.6-2.5zm18-.4c-.5.2-1-.4-1.2-1.2-.2-1 0-2.1.7-2.5v.5c.2.7.6 1.5 1.3 1.9 0 .7-.2 1.2-.7 1.3zm10-1.6c0 .5.4.7 1 .6.8-.2 1-1 .8-1.6 0-.5-.4-1-1-.8-.5.1-1 .9-.8 1.8zm-14.3-5.5c0-.4-.5-.7-1-.5-.8.2-1 1-.9 1.5.2.6.5 1 1 .8.5 0 1.1-1 1-1.8z</a>" <span class="attribute-name">fill</span>="<a class="attribute-value">#fff</a>" <span class="attribute-name">fill-opacity</span>="<a class="attribute-value">.6</a>"<span>/</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">svg</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span>
<span id="line59"></span>                    </span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span>
<span id="line60"></span>                </span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span>
<span id="line61"></span>            </span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span>
<span id="line62"></span>
<span id="line63"></span>            </span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">container</a>"&gt;</span><span>
<span id="line64"></span>                                    </span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace trace-as-html</a>"&gt;</span><span>
<span id="line65"></span>                        </span><span>&lt;<span class="start-tag">table</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-details</a>"&gt;</span><span>
<span id="line66"></span>                            </span><span>&lt;<span class="start-tag">thead</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-head</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">th</span>&gt;</span><span>
<span id="line67"></span>                                </span><span>&lt;<span class="start-tag">h3</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span>
<span id="line68"></span>                                    </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">text-muted</a>"&gt;</span><span>(1/1)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>
<span id="line69"></span>                                    </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">exception_title</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Symfony\Component\HttpKernel\Exception\NotFoundHttpException</a>"&gt;</span><span>NotFoundHttpException</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>
<span id="line70"></span>                                </span><span>&lt;/<span class="end-tag">h3</span>&gt;</span><span>
<span id="line71"></span>                                </span><span>&lt;<span class="start-tag">p</span> <span class="attribute-name">class</span>="<a class="attribute-value">break-long-words trace-message</a>"&gt;</span><span></span><span>&lt;/<span class="end-tag">p</span>&gt;</span><span>
<span id="line72"></span>                            </span><span>&lt;/<span class="end-tag">th</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">thead</span>&gt;</span><span>
<span id="line73"></span>                            </span><span>&lt;<span class="start-tag">tbody</span>&gt;</span><span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Routing\RouteCollection.php line 179</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>RouteCollection.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 179</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line74"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Routing\RouteCollection</a>"&gt;</span><span>RouteCollection</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>match</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Routing\Router.php line 546</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Router.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 546</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line75"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Routing\Router</a>"&gt;</span><span>Router</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>findRoute</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Routing\Router.php line 525</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Router.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 525</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line76"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Routing\Router</a>"&gt;</span><span>Router</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>dispatchToRoute</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Routing\Router.php line 511</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Router.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 511</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line77"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Routing\Router</a>"&gt;</span><span>Router</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>dispatch</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php line 176</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Kernel.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 176</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line78"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Foundation\Http\Kernel</a>"&gt;</span><span>Kernel</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Foundation\Http\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Routing\Pipeline.php line 30</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 30</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line79"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Routing\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Routing\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php line 30</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>TransformsRequest.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 30</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line80"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Foundation\Http\Middleware\TransformsRequest</a>"&gt;</span><span>TransformsRequest</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>handle</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>), </span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Closure</a>"&gt;</span><span>Closure</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php line 148</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 148</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line81"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Pipeline\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Pipeline\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Routing\Pipeline.php line 53</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 53</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line82"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Routing\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Routing\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php line 30</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>TransformsRequest.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 30</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line83"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Foundation\Http\Middleware\TransformsRequest</a>"&gt;</span><span>TransformsRequest</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>handle</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>), </span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Closure</a>"&gt;</span><span>Closure</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php line 148</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 148</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line84"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Pipeline\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Pipeline\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Routing\Pipeline.php line 53</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 53</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line85"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Routing\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Routing\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php line 27</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>ValidatePostSize.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 27</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line86"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Foundation\Http\Middleware\ValidatePostSize</a>"&gt;</span><span>ValidatePostSize</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>handle</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>), </span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Closure</a>"&gt;</span><span>Closure</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php line 148</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 148</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line87"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Pipeline\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Pipeline\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Routing\Pipeline.php line 53</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 53</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line88"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Routing\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Routing\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\CheckForMaintenanceMode.php line 46</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>CheckForMaintenanceMode.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 46</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line89"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Foundation\Http\Middleware\CheckForMaintenanceMode</a>"&gt;</span><span>CheckForMaintenanceMode</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>handle</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>), </span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Closure</a>"&gt;</span><span>Closure</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php line 148</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 148</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line90"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Pipeline\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Pipeline\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Routing\Pipeline.php line 53</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 53</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line91"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Routing\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>Illuminate\Routing\{closure}</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php line 102</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Pipeline.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 102</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line92"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Pipeline\Pipeline</a>"&gt;</span><span>Pipeline</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>then</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Closure</a>"&gt;</span><span>Closure</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php line 151</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Kernel.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 151</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line93"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Foundation\Http\Kernel</a>"&gt;</span><span>Kernel</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>sendRequestThroughRouter</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php line 116</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>Kernel.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 116</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line94"></span></span><span>&lt;<span class="start-tag">tr</span>&gt;</span><span></span><span>&lt;<span class="start-tag">td</span>&gt;</span><span>at </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-class</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Foundation\Http\Kernel</a>"&gt;</span><span>Kernel</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-type</a>"&gt;</span><span>-&gt;</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-method</a>"&gt;</span><span>handle</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">trace-arguments</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">em</span>&gt;</span><span>object</span><span>&lt;/<span class="end-tag">em</span>&gt;</span><span>(</span><span>&lt;<span class="start-tag">abbr</span> <span class="attribute-name">title</span>="<a class="attribute-value">Illuminate\Http\Request</a>"&gt;</span><span>Request</span><span>&lt;/<span class="end-tag">abbr</span>&gt;</span><span>)</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span>)</span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">block trace-file-path</a>"&gt;</span><span>in </span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">title</span>="<a class="attribute-value">C:\xampp\htdocs\Test1\public\index.php line 54</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">strong</span>&gt;</span><span>index.php</span><span>&lt;/<span class="end-tag">strong</span>&gt;</span><span> line 54</span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">td</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">tr</span>&gt;</span><span>
<span id="line95"></span></span><span>&lt;/<span class="end-tag">tbody</span>&gt;</span><span>
<span id="line96"></span></span><span>&lt;/<span class="end-tag">table</span>&gt;</span><span>
<span id="line97"></span></span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span>
<span id="line98"></span>
<span id="line99"></span>            </span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span>
<span id="line100"></span>    </span><span>&lt;/<span class="end-tag">body</span>&gt;</span><span>
<span id="line101"></span></span><span>&lt;/<span class="end-tag">html</span>&gt;</span><span></span></pre><menu type="context" id="actions"><menuitem id="goToLine" label="Go to Line…" accesskey="L"></menuitem><menuitem id="wrapLongLines" label="Wrap Long Lines" type="checkbox"></menuitem><menuitem id="highlightSyntax" label="Syntax Highlighting" type="checkbox" checked="true"></menuitem></menu></body></html>